@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff; }

* {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  width: 100%;
  background-color: #1C1B21; }

.container {
  width: 100%;
  height: 100%;
  position: relative; }

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff; }
  nav h1 {
    font-weight: 400;
    letter-spacing: 10px;
    font-family: 'Oswald', sans-serif; }
  nav img {
    height: 52px;
    width: auto; }

#logo-text-left {
  margin-right: 30px; }

#logo-text-right {
  margin-left: 30px; }

@media (max-width: 768px) {
  nav {
    height: 50px; }
    nav h1 {
      font-size: 14px;
      letter-spacing: 6px; }
    nav img {
      height: 30px; }

  #logo-text-left {
    margin-right: 15px; }

  #logo-text-right {
    margin-left: 15px; } }
#header-img {
  width: 100%;
  height: 678px;
  object-fit: cover;
  object-position: center top; }

.header-text {
  position: absolute;
  height: 300px;
  top: 40%;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(28, 27, 33, 0.7); }
  .header-text .header-text-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto; }
    .header-text .header-text-inner span {
      background-color: #fff;
      height: 1px;
      width: 100%; }
    .header-text .header-text-inner #header-text-top, .header-text .header-text-inner #header-text-bottom {
      letter-spacing: 10px;
      text-transform: uppercase;
      text-align: center; }
    .header-text .header-text-inner #header-text-top {
      font-size: 28px;
      font-weight: 300; }
    .header-text .header-text-inner #header-text-bottom {
      font-size: 30px;
      font-weight: 700; }
    .header-text .header-text-inner button {
      height: 60px;
      width: 70%;
      background-color: #2B2A32;
      color: #fff;
      font-size: 22px;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 4px;
      text-transform: uppercase;
      border: 1px solid #fff; }

@media (max-width: 768px) {
  #header-img {
    height: 400px; }

  .header-text {
    height: 250px; }
    .header-text .header-text-inner {
      display: flex;
      flex-direction: column;
      width: 30%;
      justify-content: space-evenly;
      align-items: center; }
      .header-text .header-text-inner span {
        background-color: #fff;
        height: 1px;
        width: 80%; }
      .header-text .header-text-inner #header-text-top, .header-text .header-text-inner #header-text-bottom {
        letter-spacing: 6px;
        text-transform: uppercase;
        text-align: center; }
      .header-text .header-text-inner #header-text-top {
        font-size: 20px;
        font-weight: 300; }
      .header-text .header-text-inner #header-text-bottom {
        font-size: 22px;
        font-weight: 700; }
      .header-text .header-text-inner button {
        height: 40px;
        width: 70%;
        background-color: #1C1B21;
        color: #fff;
        font-size: 14px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 4px;
        text-transform: uppercase;
        border: 1px solid #fff; } }

/*# sourceMappingURL=main.css.map */
