{% extends 'base.html' %}

{% block title %}
<title>Planet Express | Home</title>
{% endblock %}

{% block content %}
<div class="container">
    {% include 'navbar.html' %}
    <div class="header-container">
        <img src="{{ url_for('static', filename='img/header.png') }}" alt="" id="header-img">
        <div class="header-text">
            <div class="header-text-inner">
                <h1 id="header-text-top">our crew is replaceable</h1>
                <span></span>
                <h1 id="header-text-bottom">your package isn't</h1>
                <button>Get a Quote</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}