{% extends 'base.html' %}

{% block title %}
<title>Planet Express | Home</title>
{% endblock %}

{% block content %}
<div class="container">
    {% include 'navbar.html' %}
    <div class="header-container">
        <img src="{{ url_for('static', filename='img/header.png') }}" alt="" id="header-img">
        <div class="header-text">
            <div class="header-text-inner">
                <h1 id="header-text-top">our crew is replaceable</h1>
                <span></span>
                <h1 id="header-text-bottom">your package isn't</h1>
                <button>Get a Quote</button>
            </div>
        </div>
    </div>
    <div class="info-container">
        <div class="info-grid">
            <div class="info-grid-top">
                <div class="info-item">
                    <img src="{{ url_for('static', filename='img/icon_milky_way.svg') }}" alt="" class="info-item-logo" id="info-item-logo-1">
                    <p>serving the milky way and beyond</p>
                </div>
                <div class="info-item">
                    <img src="{{ url_for('static', filename='img/icon_next_day.svg') }}" alt="" class="info-item-logo" id="info-item-logo-2">
                    <p>next day exoplanet delivery</p>
                </div>
            </div>
            <div class="info-grid-bottom">
                <div class="info-item">
                    <img src="{{ url_for('static', filename='img/icon_drop_off.svg') }}" alt="" class="info-item-logo" id="info-item-logo-3">
                    <p>drop off at any interplanetary parcel hub</p>
                </div>
                <div class="info-item">
                    <img src="{{ url_for('static', filename='img/icon_track.svg') }}" alt="" class="info-item-logo" id="info-item-logo-4">
                    <p>track your package across the galaxy</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}