nav {
    width: 100%;

    .nav-top {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: 400;
            letter-spacing: 10px;
            font-family: 'Oswald', sans-serif;
        }
    
        img {
            height: 52px;
            width: auto;
        }
    }

    .nav-bottom {
        height: 25px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 14px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 7px;
            color: $dark;
        }
    }
}

#logo-text-left {
    margin-right: 30px;
}

#logo-text-right {
    margin-left: 30px;
}

@media (max-width: 768px) {
    nav {
        .nav-top {
            height: 50px;

            h1 {
                font-size: 14px;
                letter-spacing: 6px;
            }

            img {
                height: 30px;
            }
        }

        .nav-bottom {
            height: 22px;

            p {
                font-size: 10px;
                letter-spacing: 5.28px;
            }
        }
    }

    #logo-text-left {
        margin-right: 15px;
    }
    
    #logo-text-right {
        margin-left: 15px;
    }
}